.logon-container{
    /* border: solid 1px black; */
    width: 100%;
    height: 100%;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}
input{
    border: 1px solid #dcdce6;
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
        
}
img{
    width: 320px;
    height: 300px
}
